<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel = "stylesheet" href="stylesheets/index.css" />
</head>
<body>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/connect"> History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pic">American Staffordshire</a>
    </li>
  </ul>
  
  <!-- Tab panes -->

    <div class="tab-content">
      <div class="tab-pane container active" id="home">...</div>
      <div class="tab-pane container fade" id="menu1">...</div>
      <div class="tab-pane container fade" id="menu2">...</div>
    </div>

  <h1> American Staffordshire Terrier </h1>

  <p> The American Staffordshire terrier's roots can be traced back to 19th century England. The bulldogs and terriers of the time were crossed to create a dog that possessed desirable attributes of each breed. The result was an agile and energetic terrier with bulldog-like perseverance and confidence. The breed was originally called the bull-and-terrier Dog, half and half, or pit dog. Eventually, it became known in England as the Staffordshire Bull terrier. Sadly, the dogs were most commonly used for fighting; although dog fighting was banned in the United Kingdom in 1835, it continued to flourish as the ban was difficult to enforce.</p>

  <p> The bull-and-terrier dogs came to the United States towards the end of the 19th century where they became known as pit bull terriers and then American bull terriers. Though there is some disagreement on the details, it is said that these dogs were not widely used for dog fighting like their ancestors but were more commonly used for general farm work, hunting, and companionship. As time went on, the breed was developed into taller dogs with larger builds than their English counterparts. The breed was registered with the AKC in 1936 as the Staffordshire terrier. The name was changed in 1972 to differentiate between the shorter, smaller English version (today's Staffordshire bull terrier). Today, the two are completely separate dog breeds.</p>

  <p> The Am Staff is an athletic dog breed with plenty of energy, so routine exercise is very important. However, be cautious not to overdo it in warmer weather, as the breed may be sensitive to heat. Am Staffs will especially benefit from dog sports that challenge them mentally and physically. Regardless of the type of exercise, be sure it is provided about twice daily or more. Without a proper outlet for all that energy, an Am Staff may become destructive, hyperactive, or develop other behavior problems.</p>

  <!-- <a href = "/pic">  Continue </a> <br><br>


  <a href= "/"> Back to Home </a> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>
