<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Site</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" href="stylesheets/index.css" />

    
  </head>
  <body>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/connect"> History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pic">American Staffordshire</a>
      </li>
    </ul>
    
    <!-- Tab panes -->
  
      <div class="tab-content">
        <div class="tab-pane container active" id="home">...</div>
        <div class="tab-pane container fade" id="menu1">...</div>
        <div class="tab-pane container fade" id="menu2">...</div>
      </div>
    

    <h1> Welcome To my Web Page</h1>

    <img src=" /../images/american-rock.jpeg" alt=" dog rock" class="rock" width="50%" height="50%">



   


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
  </body>
</html>