<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Picture</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel = "stylesheet" href="stylesheets/index.css" />
</head>
<body>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/connect"> History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pic">American Staffordshire</a>
    </li>
  </ul>
  
  <!-- Tab panes -->

    <div class="tab-content">
      <div class="tab-pane container active" id="home">...</div>
      <div class="tab-pane container fade" id="menu1">...</div>
      <div class="tab-pane container fade" id="menu2">...</div>
    </div>

    <h1> Dog Breed Profile</h1>


    <p>The very short, smooth coat of the Am Staff requires little more than routine grooming. This breed tends to shed at a low to moderate rate. However, shedding does tend to increase seasonally. Although some Am Staff will wear down their nails naturally from walking, most still need regular nail trims to keep their feet healthy. Give your Am Staff baths as needed to keep the skin and coat clean and healthy.</p>

    <p>  The Am Staff is an athletic dog breed with plenty of energy, so routine exercise is very important. However, be cautious not to overdo it in warmer weather, as the breed may be sensitive to heat. Am Staffs will especially benefit from dog sports that challenge them mentally and physically. Regardless of the type of exercise, be sure it is provided about twice daily or more. Without a proper outlet for all that energy, an Am Staff may become destructive, hyperactive, or develop other behavior problems.</p>

    <p>Just like personality and appearance traits can be associated with a dog breed, certain health problems are inherited as well. Responsible breeders take care to maintain the highest breed standards as established by kennel clubs like the AKC. Dogs bred by these standards are less likely to inherit health conditions. However, some hereditary health problems can occur in the American Staffordshire terrier. The following are some conditions to be aware of:</p>
    <ul>
      <li> Hip dysplasia, an abnormal formation of the hip socket. </li>
      <li> Canine atopic dermatitis and other skin issues. </li>
      <li> Hypothyroidism, a problem with the secretion of thyroid hormones, which can cause the dog's metabolism to slow down. </li>
    </ul>

    <img src=" /../images/American.jpeg" alt=" dogs" class="rock" width="50%" height="50%">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
</body>
</html>